.module-propaganda {
    padding-top: 25.462962962963vh;
}
.wrapper-propaganda_text {
    margin-bottom: 8.05555555555556vh;

    text-align: center;
    white-space: nowrap;
    .inner-wrapper {
        display: inline-block;
    }
    .title {
        font-size: 100px;
        font-weight: 600;
        line-height: 1.72em;
    }
    .project-serve {
        font-size: 15px;
        line-height: 2.2em;

        width: 84.5%;
        margin: 0 auto;
    }
    .item-serve {
        padding: 0 22px;
    }
    .divide {
        flex: 1 1 auto;

        width: 100px;
        height: 1px;

        background-color: $black-level-6;
    }
}
.wrapper-propaganda_intro {
    text-align: center;
    .inner-wrapper {
        display: inline-block;

        width: 73%;
        img {
            width: 100%;
        }
    }
}

/* ---------------------------------- */
/*           box-text_effect          */
/* ---------------------------------- */
.box-text_effect {
    display: block;

    height: 100%;

    transition: transform 0.5s ease-out;

    perspective: 1000px;
    &.v-enter {
        .effect-line-1,
        .effect-line-2 {
            transform: translateY(50vh) rotateY(-70deg);

            opacity: 0;
        }
        &.is-enter-center {
            transform: translateY(50vh) rotateY(-70deg);

            opacity: 0;
        }
    }
    &.v-leave-to {
        .effect-container {
            transition: transform 1s ease-in 0.1s;
            transform: rotateY(20deg) translateX(-10px) translateZ(200px);
        }
        .effect-line-1 {
            transition: transform 1s ease-in, opacity 0.9s ease-out;
        }
        .effect-line-2 {
            transition: transform 1s ease-in 0.1s, opacity 0.9s ease-out 0.1s;
        }
        .effect-line-1,
        .effect-line-2 {
            transform: translateY(-60vh) translateY(-100%) rotateY(90deg);
            transform-origin: center center;
        
            opacity: 0;
        }
    }
    .effect-line-1 {
        transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.5s ease-out;
        transform: translateY(0) translateY(0) translateX(0) rotateY(0);
        transform-origin: center center;
        letter-spacing: -4px;

        opacity: 1;
    }
    .effect-line-2 {
        transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, opacity 1.5s ease-out 0.08s;
        transform: translateY(0) translateY(0) translateX(0) rotateY(0);
        transform-origin: center center;
    
        opacity: 1;
    }
    .effect-container {
        transition: transform 0.5s ease-out;
        // transform: translateZ(200px);

        perspective: 1000px;
    }
}

@supports (-moz-appearance:none) {
    .box-text_effect {
        transform-style: preserve-3d;
    }
    .box-text_effect * {
        transform-style: inherit;
    }

}
