/*
 * @Description: 底部联系模块
 * @Author: F-Stone
 * @Date: 2021-08-04 10:53:52
 * @LastEditTime: 2021-08-04 10:53:57
 * @LastEditors: F-Stone
 */
.module-contact {
    overflow: hidden;

    color: rgb(255 255 255);
    background-color: rgb(89 66 210);
    &> .wrapper-limit_width--min {
        position: relative;
    }
    .layer-circle {

        @include ab-cover;
        .circle-1 {
            position: absolute;
            bottom: 167px;
            left: -101px;
        }
        .circle-2 {
            position: absolute;
            bottom: 180px;
            left: -279px;
        }
        .circle-3 {
            position: absolute;
            top: 68px;
            right: 272px;
        }
        .circle-4 {
            position: absolute;
            right: -85px;
            bottom: 10px;
        }
        .circle-5 {
            position: absolute;
            top: 169px;
            right: -148px;
        }
    }
    .module-footer,
    .module-body {
        position: relative;
        z-index: 10;
    }
    .module-footer {
        font-size: 12px;
        line-height: 24px;

        height: 68px;
    }
    .module-body {
        height: 497px;
        padding-top: 50px;
    }
    .group-row {
        width: 100%;
    }
    .group-col {
        &:nth-child(1) {
            font-size: 25px;
            line-height: 20px;
            .logo-pic {
                width: 93px;
                margin-right: 17px;
            }
        }
        &:nth-child(2) {
            font-size: 14px;
            line-height: 22px;
            .tel {
                font-size: 42px;
                line-height: 50px;

                margin-bottom: 15px;
            }
            .tip {
                margin-bottom: 22px;
            }
            .ic {

                @include circle(44px);
                font-size: 18px;

                border: 1px solid rgb(255 255 255/0.29);
            }
        }
        &:nth-child(3) {
            font-size: 14px;
            line-height: 22px;
            .name {
                font-size: 24px;
                line-height: 36px;

                margin-bottom: 25px;
            }
            .location {
                margin-bottom: 2px;
            }
        }
    }
}
