/*
 * @Description: 功能介绍--show
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 15:39:50
 * @LastEditTime: Wed Aug 04 2021 15:40:07
 * @LastEditors: F-Stone
 */
.module-show {
    padding-top: 144px;
    padding-bottom: 123px;

    background-color: rgb(255 255 255);
    /* ---------------------------------- */
    /*           模块head区域              */
    /* ---------------------------------- */
    .module-header {
        margin-bottom: 79px;
    }
    .module-subtitle {
        margin-bottom: 41px;
    }
    .box-desc {
        font-size: 16px;

        width: 560px;
        height: 80px;

        border-radius: 40px;
        box-shadow: 0 40px 80px 0 rgb(0 0 0 / 0.1);
        &>.state-pos_left {
            padding: 0 42px 0 52px;
        }
        &>.state-pos_right {
            padding: 0  52px 0 42px;
        }
        .ic {
            font-size: 30px;

            margin-right: 20px;
        }
        .divide {
            flex: 1 1 auto;

            width: 10px;
            height: 1px;

            background-color: rgb(224 224 224);
        }
    }
    /* ---------------------------------- */
    /*               主区域               */
    /* ---------------------------------- */
    .module-body {
        position: relative;

        display: flex;

        min-height: 100vh;
        padding-top: 100px;
        padding-bottom: 100px;

        text-align: center;

        align-items: center;
        justify-content: center;
        &>.container {
            min-height: 100vh;
        }
        .item-intro {
            overflow: hidden;

            margin-bottom: 42px;

            border-radius: 7px;
            box-shadow: 0 10px 20px 0 rgb(0 0 0 / 0.1);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    /* ---------------------------------- */
    /*               第一层               */
    /* ---------------------------------- */
    .wrapper-first_area {
        position: relative;
        z-index: 10;

        pointer-events: none;
        .group-col {
            position: relative;
            z-index: 10;

            width: 302px;
            min-width: 0;
            &:nth-child(1),
            &:nth-child(4) {
                margin-right: 47px;
            }
            img {
                width: 100%;
            }
        }
        .group-col:nth-child(3) {
            position: relative;
            z-index: 0;

            width: 322px;
            margin: 0 70px;
            .item-intro {
                overflow: hidden;

                transform: translate3d(0, 0, 0);

                border-radius: 21px;
                background: rgb(255 255 255);
            }
            .main-phone {

                @include image-placeholder(310px, 671px);

                overflow: hidden;

                width: 100%;

                opacity: 0.3;
                border: 6px solid rgb(255 255 255);
                border-radius: 21px;
                box-shadow: 0 50px 100px 0 rgb(0 2 85 / 0.3);
            }
            .wrapper-main_phone_imgs {

                @include ab-cover;
                display: flex;
            }
            .main-phone-card {

                @include image-placeholder(310px, 671px);
                flex: 0 0 auto;
                img:first-child {
                    position: relative;
                    z-index: 100;
                }
            }
            .box-m_web {

                @include ab-cover;
            }
            .main-phone-2 {
                position: absolute;
                top: 75px;
                right: 6px;
                left: 6px;

                margin: 0 auto;

                border-radius: 8px;
            }
            .main-phone-2-img {
                overflow: hidden;
                
                width: 262px;

                border-radius: 8px;
                box-shadow: 0 12px 24px 0 rgb(14 112 59 / 30%);
            }
            .main-phone-back-card {
                position: absolute;
                right: -98%;
                bottom: 20%;

                width: auto;

                opacity: 0;
                border-radius: 10px;
                box-shadow: 0 10px 20px 0 rgb(0 0 0 / 0.4);
            }
        }
    }
    /* ---------------------------------- */
    /*               第二层               */
    /* ---------------------------------- */
    .wrapper-sec-area {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        // height: 100vh;
        height: 100%;
        .module-bg {

            @include ab-cover;
        }
        .state-pos_left {
            display: flex;

            width: 50%;
            height: 100%;

            align-items: center;
            justify-content: center;
        }
        .state-pos_right {

            @include ab-cover;
            left: auto;

            display: flex;

            width: 0;

            background-color: rgb(234 240 250);

            align-items: center;
        }
    }
    .uemo-web {

        @include image-placeholder(971px, 681px);
        position: relative;
        left: 263px;

        flex: 0 0 auto;

        transform: translateY(10vh);

        opacity: 0;
        .wrapper-uemo_web {
            position: absolute;
            top: 0;
            left: 0;

            overflow: hidden;

            width: 100%;
            height: 100%;

            border-radius: 24px;
            box-shadow: 0 50px 100px 0 rgb(0 2 85 / 0.2);
        }
        .slider-item {
            position: absolute;
            top: 0;
            left: 0;

            overflow: hidden;

            width: 100%;
            height: 100%;

            border-radius: 24px;
            &~.slider-item {
                opacity: 0;
            }
        }
        img {
            position: relative;
            &:first-child {
                z-index: 100;
            }
        }
        .box-left_arrow {

            @include image-placeholder(124px, 64px);
            position: absolute;
            top: 50%;
            left: -61px;

            width: 31px;
            margin-top: -32px;

            background-size: cover;
        }
    }
    .wrapper-intro {
        width: 370px;

        text-align: left;
        .intro-item {
            // display: none;
            &>* {
                overflow: hidden;
            }
            &:first-child {
                display: block;
            }
            .inner-row {
                display: inline-block;

                transform: translateY(100%);
            }   
        }
        .title {
            font-weight: 900;
            line-height: 92px;

            margin-bottom: 16px;
        }
        .title .text {
            font-size: 60px;
        }
        .desc {
            font-size: 16px;
            line-height: 28px;

            margin-bottom: 56px;

            color: rgb(102 102 102);
        }
        .button-link {
            font-size: 16px;
            line-height: 57px;

            padding: 0 46px;

            transition: color 0.36s ease, background 0.36s ease;

            color: rgb(51 51 51);
            border: 2px solid rgb(51 51 51);
            border-radius: 31px;
            &:hover {
                color: rgb(255 255 255);
                background: rgb(0 0 0);
            }
        }
    }
}
