/*
 * @Description: 公共样式文件
 * @Author: F-Stone
 * @Date: 2021-08-03 13:43:56
 * @LastEditTime: 2021-08-03 18:21:42
 * @LastEditors: F-Stone
 */

@font-face {
    font-family: 'MontDemo-Heavy';
    font-weight: normal;
    font-style: normal;

    src: url('https://qiniu-uematerial.uemo.net/Upfile/Font/20210519/eb117478-0202-4bce-9dfc-361049538268.otf');
    src: url('https://qiniu-uematerial.uemo.net/Upfile/Font/20210519/eb117478-0202-4bce-9dfc-361049538268.otf') format('opentype');
}
/* ---------------------------------- */
/*                reset               */
/* ---------------------------------- */
body {
    font-family: Arial, '微软雅黑';
    font-size: 14px;
    line-height: 1.32;

    overflow: hidden;

    user-select: none;

    color: rgb(0 0 0);
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
a {
    display: inline-block;

    text-decoration: none;
}
.ic {
    font-size: inherit;
}
/* ---------------------------------- */
/*                size                */
/* ---------------------------------- */
.wrapper-limit_width {

    @include limit-wrapper;
}
.wrapper-limit_width--min {

    @include limit-wrapper-min;
}

/* ---------------------------------- */
/*             components             */
/* ---------------------------------- */
.btn-open_project_qr {
    font-size: 16px;
    line-height: 50px;

    overflow: hidden;

    cursor: pointer;

    
    border-radius: 25px;
    &>.state-pos_left {
        padding: 0  24px;

        color: rgb(255 255 255);
        background-color: $main-color;
        .ic {
            font-size: 18px;

            margin-right: 20px;
        }
    }
    &>.state-pos_right {
        padding: 0  24px;

        color: $font-color;
        background-color: $black-level-9;
        .ic {
            font-size: 18px;

            margin-left: 20px;

            color: $main-color;
        }
    }
}

/* ---------------------------------- */
/*             底部微信二维码          */
/* ---------------------------------- */
.footer_layer--fixed {
    position: fixed;
    bottom: 0;

    width: 100%;
    .wrapper-limit_width {
        position: relative;
    }
    .btn-open_QR {
        font-size: 16px;

        position: absolute;
        right: 0;
        bottom: 10.46vh;

        overflow: hidden;

        box-sizing: content-box;
        width: 60px;

        cursor: pointer;
        transition: color 0.36s ease;

        color: rgb(102 102 102);
        border: 5px solid rgb(255 255 255);
        border-radius: 40px;
        background-color: rgb(255 255 255);
        box-shadow: 0 40px 80px 0 rgb(0 0 0 / 20%);
        &:hover {
            color: rgb(0 0 0);
            .icon-weixin_code {
                background-color: lighten($color: $main-color, $amount: 3);
            }
        }
        &:active {
            .icon-weixin_code {
                transform: scale(0.9);
            }
        }
    }
    .icon-weixin_code {

        @include circle(60px);
        font-size: 20px;

        flex: 0 0 auto;

        transition: 0.26s ease;

        color: rgb(255 255 255);
        background-color: $main-color;
    }
    .text {
        display: block;
        flex: 0 0 auto;

        padding: 0 40px 0 25px;

        white-space: nowrap;
    }
}

/* ---------------------------------- */
/*                站点头部            */
/* ---------------------------------- */
.site-head {    
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 156px;

    transition: transform 0.42s ease;
    .site-logo {
        height: 40px;
        img {
            height: 100%;
        }
    }
    &[data-size='mini'] {
        transform: translateY(-100%);
    }
}

/* ---------------------------------- */
/*               模块头部              */
/* ---------------------------------- */
.module {
    .module-header {
        text-align: center;
    }
    .module-title {
        font-size: 72px;
        font-weight: 600;
        line-height: 88px;

        margin-bottom: 13px;
    }
    .module-subtitle {
        font-size: 16px;
        line-height: 36px;

        width: 568px;
        margin: 0 auto;

        color: $desc-color;
    }
}

/* ---------------------------------- */
/*                二维码              */
/* ---------------------------------- */
.wrapper-weixin_code {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(0 0 0 / 0);
    .box-weixin_code {

        @include image-placeholder(350px, 398px);
        overflow: hidden;

        width: 40%;
        max-width: 350px;

        // transform: translateY(-5vh);
        opacity: 0;
        border-radius: 20px;
        background-color: rgb(255 255 255);
        box-shadow: 0 40px 80px 0 rgb(0 0 0 / 0.1);
    }
}
