/* ---------------------------------- */
/*                color               */
/* ---------------------------------- */
$black-level-0: hsl(0 0% 0%);
$black-level-2: hsl(0 0% 20%);
$black-level-4: hsl(0 0% 40%);
$black-level-6: hsl(0 0% 67%);
$black-level-9: hsl(0 0% 96%);

$green-level-3: rgb(6 193 96);

$font-color: $black-level-2;
$title-color: $black-level-0;
$desc-color: $black-level-4;

$main-color: $green-level-3;

/* ---------------------------------- */
/*                size                */
/* ---------------------------------- */
$max-limit-width: 1784px;
$min-limit-width: 1225px;
