<div id="site-head" class="site-head flex flex-y-c" data-size="normal">
    <div class="wrapper-limit_width flex flex-x-sb flex-y-c">
        <div class="state-pos_left">
            <a href="./" id="site-logo" class="site-logo">
                <img src="<%= IMG_PATH %>logo.png" alt="" />
            </a>
        </div>
        <div class="state-pos_right">
            <div class="btn-open_project_QR flex">
                <div class="state-pos_left flex">
                    <i class="ic iconfont icon-weixin"></i>
                    <span class="text">微信小程序</span>
                </div>
                <div class="state-pos_right flex">
                    <span class="text">好看智能名片</span>
                    <i class="ic iconfont icon-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>
