<!--
 * @Description: 获客方式
 * @Author: F-Stone
 * @Date: 2021-08-16 10:19:41
 * @LastEditTime: 2021-08-16 10:19:42
 * @LastEditors: F-Stone
-->
<div class="module module-extension" data-scroll-section>
    <div class="wrapper-limit_width--min">
        <div class="module-head">
            <div class="module-title">
                <span class="text">更多获客方式</span>
            </div>
            <div class="module-desc">
                <p class="text">
                    好看智能名片+UEmo极速建站，可直接将企业官网绑定到名片上。
                </p>
            </div>
        </div>
        <div class="module-body">
            <div class="list-extension flex-inline">
                <div class="item-extension">
                    <div class="item-head">
                        <div class="box-icon">
                            <i class="ic iconfont icon-member"></i>
                        </div>
                        <div class="box-index">
                            <span class="text">01</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">推荐人脉</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            可通过海报生成图片名片海报，已图片形式发送给微信好友，深入了解可进入电子名片
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div class="box-icon">
                            <i class="ic iconfont icon-send-msg"></i>
                        </div>
                        <div class="box-index">
                            <span class="text">02</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">动态广场</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            可通过海报生成图片名片海报，已图片形式发送给微信好友，深入了解可进入电子名片
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div class="box-icon">
                            <i class="ic iconfont icon-style"></i>
                        </div>
                        <div class="box-index">
                            <span class="text">03</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片海报</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            可通过海报生成图片名片海报，已图片形式发送给微信好友，深入了解可进入电子名片
                        </p>
                    </div>
                </div>
                <div class="item-extension">
                    <div class="item-head">
                        <div class="box-icon">
                            <i class="ic iconfont icon-foot-2"></i>
                        </div>
                        <div class="box-index">
                            <span class="text">04</span>
                        </div>
                    </div>
                    <div class="item-title">
                        <span class="text">名片足迹</span>
                    </div>
                    <div class="item-desc">
                        <p class="text">
                            可通过海报生成图片名片海报，已图片形式发送给微信好友，深入了解可进入电子名片
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
