<!--
 * @Description: 文档板块介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:13:51
 * @LastEditTime: Wed Aug 04 2021 17:13:51
 * @LastEditors: F-Stone
-->
<div class="module module-doc" data-scroll-section>
    <div class="wrapper-limit_width flex">
        <div class="state-pos_left flex flex-x-c">
            <div class="intro-img">
                <img src="<%= IMG_PATH %>doc-intro.png" alt="" />
            </div>
        </div>
        <div class="state-pos_right flex flex-x-c">
            <div class="list-intro">
                <div class="item-intro">
                    <div class="title">
                        <span class="text">营销文档</span>
                    </div>
                    <div class="desc">
                        <span class="text">
                            快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企业的每个成员打造成超级IP。
                        </span>
                    </div>
                    <div class="box-img">
                        <img src="<%= IMG_PATH %>doc-type.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
