<!--
 * @Description: 统计功能介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:54:30
 * @LastEditTime: Wed Aug 04 2021 17:54:31
 * @LastEditors: F-Stone
-->
<div class="module module-statistic">
    <div class="module-header">
        <div class="module-title">
            <span class="text">客户轨迹追踪</span>
        </div>
        <div class="module-subtitle">
            <span class="text">
                已团队（企业）品牌属性为中心，扩散到每个成员，每个成员都带有自媒体属性成员曝光
                = 团队（企业）曝光
            </span>
        </div>
    </div>
    <div class="module-body">
        <div class="intro-img">
            <img src="<%= IMG_PATH %>module-statistic.png" alt="" />
            <div class="item-intro state-pos_right">
                <div class="line"></div>
                <div class="title">
                    <span class="text">实时访问数据</span>
                </div>
                <div class="desc">
                    <span class="text">
                        快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企
                    </span>
                </div>
            </div>
            <div class="item-intro state-pos_left">
                <div class="line"></div>
                <div class="title">
                    <span class="text">实时访问数据</span>
                </div>
                <div class="desc">
                    <span class="text">
                        快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企
                    </span>
                </div>
            </div>
            <div class="item-intro state-pos_right">
                <div class="line"></div>
                <div class="title">
                    <span class="text">实时访问数据</span>
                </div>
                <div class="desc">
                    <span class="text">
                        快速完整地传递企业/个人形象及品牌宣传，再展示推广企业的同时也可把企
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
