<!--
 * @Description: 
 * @Author: F-Stone
 * @Date: 2021-08-02 16:05:02
 * @LastEditTime: 2021-08-02 16:05:03
 * @LastEditors: F-Stone
-->
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="<%= IMG_PATH + 'logo-icon.png' %>" />
        <title>好看智能名片</title>
    </head>
    <body class="state-prevent_scroll">
        <div
            id="site-page"
            class="site-page"
            data-type="page-index"
            date-page-name="index-page"
            data-scroll-container
        >
            <%- require("./components/header.ejs")({IMG_PATH}) %>
            <!--  -->
            <% require("./components/module-propaganda.ejs")({IMG_PATH}) %>
            <!--  -->
            <%- require("./components/module-design.ejs")({IMG_PATH}) %>
            <!--  -->
            <!-- <div style="height: 100vh; background: #fff"></div> -->
            <%- require("./components/module-show.ejs")({IMG_PATH}) %>
            <!--  -->
            <% require("./components/module-doc.ejs")({IMG_PATH}) %>
            <!--  -->
            <% require("./components/module-extension.ejs")({IMG_PATH}) %>
            <!--  -->
            <% require("./components/module-statistic.ejs")({IMG_PATH}) %>
            <!--  -->
            <div style="height: 100vh; background: #fff"></div>
            <% require("./components/module-customer.ejs")({IMG_PATH}) %>
            <!--  -->
            <% require("./components/module-contact.ejs")({IMG_PATH}) %>
        </div>
        <div class="footer_layer--fixed">
            <div class="wrapper-limit_width">
                <div class="btn-open_QR flex flex-c-c">
                    <i class="ic iconfont icon-code"></i>
                </div>
            </div>
        </div>
    </body>
</html>
