@font-face {
    font-family: 'iconfont'; /* Project id 2715885 */

    src: url('https://at.alicdn.com/t/font_2715885_7iqjc28jz0g.woff2?t=1633761285572') format('woff2'),
        url('https://at.alicdn.com/t/font_2715885_7iqjc28jz0g.woff?t=1633761285572') format('woff'),
        url('https://at.alicdn.com/t/font_2715885_7iqjc28jz0g.ttf?t=1633761285572') format('truetype');
}
.iconfont {
    font-family: 'iconfont' !important;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-haok::before {
    content: '\e660';
}
.icon-dizhi::before {
    content: '\e627';
}
.icon-haibao2::before {
    content: '\e63d';
}
.icon-shipin::before {
    content: '\e60e';
}
.icon-weizhi::before {
    content: '\e7f8';
}
.icon-zuojiantou::before {
    content: '\e65e';
}
.icon-icon-test7::before {
    content: '\e63c';
}
.icon-iconzhi01::before {
    content: '\e600';
}
.icon-wechat_pay::before {
    content: '\e601';
}
.icon-mima::before {
    content: '\e789';
}
.icon-add::before {
    content: '\e607';
}
.icon-gender::before {
    content: '\e6a9';
}
.icon-data::before {
    content: '\e811';
}
.icon-earth::before {
    content: '\e617';
}
.icon-link::before {
    content: '\e62d';
}
.icon-poster::before {
    content: '\e624';
}
.icon-foot::before {
    content: '\e62e';
}
.icon-foot-2::before {
    content: '\e614';
}
.icon-document::before {
    content: '\e72d';
}
.icon-member::before {
    content: '\e61c';
}
.icon-websit::before {
    content: '\e648';
}
.icon-commit::before {
    content: '\e6cb';
}
.icon-style::before {
    content: '\e6b3';
}
.icon-consult::before {
    content: '\e649';
}
.icon-send-msg::before {
    content: '\e65a';
}
.icon-watch::before {
    content: '\e63f';
}
.icon-thumbs-up::before {
    content: '\e644';
}
.icon-fill-logo::before {
    content: '\e659';
}
.icon-logo::before {
    content: '\e658';
}
.icon-brand::before {
    content: '\e65f';
}
.icon-user::before {
    content: '\e646';
}
.icon-code::before {
    content: '\e62c';
}
.icon-uemo-logo::before {
    content: '\eb51';
}
.icon-search::before {
    content: '\e61d';
}
.icon-weixin::before {
    content: '\e66e';
}
