/*
 * @Description: 名片风格切换介绍
 * @Author: F-Stone
 * @Date: 2021-08-04 13:57:46
 * @LastEditTime: 2021-08-04 13:57:51
 * @LastEditors: F-Stone
 */
.module-design {
    background-color: rgb(255 255 255);
    .module-inner_wrapper {
        position: relative;
        
        display: flex;
    
        // padding-top: 197px;
        // padding-bottom: 226px;
        padding-top: 100px;
        padding-bottom: 100px;
    
        background-color: rgb(24 41 25);
    
        align-items: center;
        justify-content: center;
    }
    .module-inner_box {
        position: relative;

        width: 100%;
        &>.wrapper-limit_width {
            position: relative;
            z-index: 100;
        }
    }
    .wrapper-bg {
    
        // @include ab-cover;
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        // padding-top: 197px;
        // padding-bottom: 226px;
    }
    .bg-body,
    .module-body {
        .box-preview_layout {
    
            @include image-placeholder(322px, 697px)
            ;
        }
        &>.state-pos_left,
        &>.state-pos_right {
            width: 50%;
        }
        &>.state-pos_left {
            padding-right: 125px;
        }
        &>.state-pos_right {
            padding-top: 130px;
            padding-left: 87px;
        }
    }
    .bg-body {
        overflow: hidden;

        width: 100%;
        height: 100%;
        &>.state-pos_left,
        &>.state-pos_right {
            width: 50%;
        }
        img {
            width: 100%;
        }
        .box-card {
            position: absolute;
            z-index: 9;
            top: 0;

            width: 100%;
        }
        .box-preview_layout {
            position: relative;
            .box-img {
                position: relative;
                z-index: 10;

                overflow: hidden;

                border: 6px solid rgb(255 255 255);
                border-radius: 26px;
                background: rgb(255 255 255);
            }
        }
        .list-card--left,
        .list-card--right {
            position: absolute;
            // top: 81px;
            top: 79px;
            
            overflow: hidden;
        }
        .list-card--left {
            right: 100%;

            padding-right: 40px;
            .list-card-box {
                transform: translateX(882px);
            }
        }
        .list-card--right {
            left: 100%;

            padding-left: 40px;
        }
    }
    .box-phone {
        position: relative;
        .phone-head {

            @include image-placeholder(1125px, 218px);
            position: absolute;
            z-index: 10;

            width: 100%;
        }
        .phone-card {
            position: relative;

            padding-top: percent(270px, 1125px);
        }
        .phone-footer {
            padding-top: percent(769px, 1125px);
            img {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;

                opacity: 0;
                &:first-child {
                    opacity: 1;
                }
            }
        }
        .card-box {
            position: relative;
            z-index: 20;


            // width: percent(930px, 1125px);
            // margin: 0 auto;
        }
        .card-cover {
            
            @include ab-cover;
        }
        .card-box-inner {
            display: flex;

            width: 100%;
        }
        .card-item {
            position: relative;

            flex: 0 0 auto;

            width: 100%;
            .img-wrapper {

                @include image-placeholder(256px, 384px);
                overflow: hidden;

                width: percent(930px, 1125px);
                margin: 0 auto;

                transform: translate3d(0, 0, 0);

                border-radius: 8px;
                box-shadow: rgb(31 54 29 / 68%) 0 17px 34px 0;
            }
            video {
                position: absolute;
                top: 0;
                left: 0;
                
                width: 100%;
            }
        }
        .card-bg {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            padding-top: percent(1344px, 1125px);

            background-color: rgb(14 18 11);
        }
        &[data-theme='lighter'] {
            .deep-head {
                opacity: 1;
            }
            .lighter-head {
                opacity: 0;
            }
        }
    }
    .item-card {
        flex: 0 0 auto;

        width: 254px;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 100%;
        }
    }
    .module-body {
        color: rgb(255 255 255);
        .box-preview_layout {
            overflow: hidden;

            border: 6px solid rgb(255 255 255);
            border-radius: 26px;
            box-shadow: 0 50px 100px 0 rgb(0 2 85 / 0.3);
            img {
                width: 100%;
            }
        }
    }
    .list-intro {
        position: relative;
    }
    .item-intro {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        &:first-child {
            position: relative;

            opacity: 1;
        }
        &>* {
            overflow: hidden;
        }
        .text {
            display: inline-block;
        }
        .title {
            font-family: 'MontDemo-Heavy';
            font-size: 140px;
            font-weight: 600;
            line-height: 1;
        }
        .unit {
            font-size: 35px;
            line-height: 1.7;

            margin-left: 7px;
        }
        .subtitle {
            font-size: 52px;
            font-weight: 600;
            line-height: 84px;
        }
        .desc {
            font-size: 16px;
            line-height: 28px;

            width: 350px;

            color: rgb(255 255 255/0.5);
        }
    }
}
