.module-case {
    min-height: 100vh;
    padding-top: 182px;
    padding-bottom: 100px;

    background-color: rgb(248 248 248);
    .module-head {
        margin-bottom: 180px;
        .subtitle {
            font-size: 36px;
            font-weight: bold;
            line-height: 2.5;

            text-transform: uppercase;

            color: rgb(0 0 0);
        }
        .title {
            font-size: 72px;
            font-weight: bold;
            line-height: 1.25;

            margin-bottom: 40px;

            text-transform: uppercase;

            color: rgb(0 0 0);
        }
        .desc {
            font-size: 16px;
            line-height: 2.25;

            text-transform: uppercase;

            color: rgb(102 102 102);
        }
        .box--weixin_code {
            overflow: hidden;

            width: 286px;

            border-radius: 20px;
            background-color: rgb(255 255 255);
            box-shadow: 0 40px 80px 0 rgb(0 0 0 / 0.1);
            img {
                width: 100%;
            }
        }
        .box-arrow {
            .line {
                width: 130px;
                height: 1px;

                background-color: rgb(255 255 255);
                background-image: linear-gradient(90deg, transparent, rgb(0 0 0) 40%);
            }
            .arrow {
                width: 0;
                height: 0;

                border-width: 5.5px 0 5.5px 10px;
                border-style: solid;
                border-color: transparent transparent transparent rgb(0 0 0);
            }
        }
    }
    .module-list {
        position: relative;

        display: block;
    }
    .module-item {
        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;
        overflow: hidden;

        margin-right: 30px;

        cursor: grab;

        border-radius: 10px;

        will-change: transform;
        &:active {
            cursor: grabbing;
        }
        &:first-child {
            position: relative;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .thumb {
                filter: blur(4px); 
            }
            .bg {
                background-color: rgb(0 0 0 / 10%);
            }
            .text {
                transform: translateY(0);
            }
            .subtitle {
                .text {
                    transition-delay: 0.1s;
                }
            }
        }
        .thumb {

            @include image-placeholder(400px, 280px) ;
            transition: filter 0.46s ease;
        }
        .info {

            @include ab-cover; 
            color: rgb(255 255 255);
        }
        .bg {

            @include ab-cover; 
            transition: 0.36s ease;

            background: transparent;
        }
        .title {
            font-size: 30px;
            font-weight: bold;

            position: relative;
            z-index: 1;

            overflow: hidden;

            margin-bottom: 6px;
        }
        .subtitle {
            font-size: 14px;
            line-height: 2.143;
            
            position: relative;
            z-index: 1;

            overflow: hidden;
            .text {
                transition-delay: 0;
            }
        }
        .text {
            display: inline-block;

            transition: 0.36s ease;
            transform: translateY(100%);
        }
    }
}
