/*
 * @Description: 文档板块介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:19:52
 * @LastEditTime: Wed Aug 04 2021 17:20:14
 * @LastEditors: F-Stone
 */
.module-doc {
    overflow: hidden;

    // padding-top: 189px;
    &>.wrapper-limit_width {
        position: relative;
        z-index: 10;
    }
    .module-body {
        &>.state-pos_left,
        &>.state-pos_right {
            flex: 0 0 auto;

            width: 50%;
        }
        &>.state-pos_right {
            padding-top: 280px;
        }
    }
    // .scale-placeholder {
    //     margin-top: calc(100vh - 289px);
    //     padding-top: 200vh;
    // }
    .module-doc_show {
        position: relative;

        padding-top: 8vh;
    }
    .list-intro {
            
        @include image-placeholder(466px, 420px);
        width: auto;
    }
    .wrapper-main_phone {

        @include image-placeholder(345px, 734px);
        position: absolute;
        top: 0.7%;
        left: 93px;


        width: 60.1045296167247%;
        .main-phone_head {

            @include image-placeholder(1920px, 440px);
            position: absolute;
            top: 0;
            left: 0%;

            width: 100%;
        }
        .main-phone {

            @include ab-cover;
            overflow: hidden;

            width: 100%;

            transform: translate3d(0, 0, 0);

            border-radius: 21px;
            border-top-left-radius: 7.5% 3.5%;
            border-top-right-radius: 7.5% 3.5%;
            border-bottom-right-radius: 7.5% 3.5%;
            border-bottom-left-radius: 7.5% 3.5%;
        }
        .group {

            @include ab-cover;
            display: flex;
            img {
                width: 100%;
            }
            .item {
                position: relative;

                flex: 0 0 auto;

                width: 100%;
            }
            .user-oper_bar {
                position: absolute;
                right: 0;
                bottom: 5%;
                left: 0;

                width: 93%;
                margin: 0 auto;

                transform: translateY(100%);
    
                opacity: 0;
                border-radius: 23px;
                box-shadow: 0 8px 10px rgb(0 0 0 / 16%);
            }
        }
        .item-1 {
            .layer-cover {
    
                @include ab-cover;
                display: flex;
    
    
                align-items: flex-end;
            }
            .doc-show-2 {
                transform: translateY(100%);
            }
        }
        .doc-show-4 {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 132%;

            transform: translate3d(-50%, 20px, 0);

            opacity: 0;
            border-radius: 17px;
            background-color: rgb(255 255 255);
            box-shadow: 0 32px 64px 0 rgb(38 45 42 / 20%);
        }
        .doc-thumb {
            top: auto;
            bottom: 7.916%;
            left: -20%;

            width: 22.9%;
        }
    }
    .left_area-bg {

        @include circle(744px);
        position: absolute;
        top: 7%;
        left: 50%;

        transform: translateX(-50%);

        background-color: rgb(231 246 240);
    }
    .intro-img {

        @include image-placeholder(466px, 1122px);
        position: relative;

        width: 466px;
        
        // transform: scale(11);
        // &::after {


        //     content: '';
        // }
        // img {
        //     width: 100%;
        // }
    }
    .intro-img--fake {

        @include image-placeholder(466px, 1122px);
        position: absolute;
        top: 9%;
        .main-phone-lock {
            top: 20%;
            left: 50%;

            width: 29%;
    
            transform: translateX(-50%) translateY(40px);

            opacity: 0;
        }
    }
    // .list-intro {
    //     transform: translateX(-102px);
    // }
    .item-intro {
        position: absolute;
        top: 0;
        left: 0;

        margin-bottom: 40vh;

        opacity: 0;
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child {
            position: relative;
        }
        .title {
            font-size: 60px;
            font-weight: 600;
            line-height: 96px;

            margin-bottom: 31px;
        }
        .desc {
            font-size: 16px;
            line-height: 36px;

            width: 410px;
            margin-bottom: 40px;

            color: $desc-color;
        }
    }
}
