.module-intro {
    position: relative;

    padding-bottom: 160px;
    &>.wrapper-limit_width {
        position: relative;
        z-index: 10;
    }
    .wrapper-limit_width {
        &>.state-pos_left,
        &>.state-pos_right {
            flex: 0 0 auto;

            width: 50%;
        }
        &>.state-pos_left {
            padding-top: 345px;
        }
        &>.state-pos_right {
            padding-top: 215px;
        }
    }
    .module-bg {

        @include ab-cover;
        background-color: rgb(255 255 255);
        background-image: linear-gradient(90deg
        , rgb(255 255 255) 0%, rgb(255 255 255) 50%, rgb(221 238 255) 50%);
    }
    .item-intro {
        margin-bottom: 242px;
        &:last-child {
            margin-bottom: 0;
        }
        .num {
            font-size: 30px;
            line-height: 54px;

            margin-bottom: 12px;

            color: rgb(240 240 240);
        }
        .title {
            font-size: 60px;
            font-weight: 600;
            line-height: 82px;

            margin-bottom: 21px;
        }
        .desc {
            font-size: 16px;
            line-height: 28px;

            width: 350px;

            color: $desc-color;
        }
    }
    .box-intro_img {
        overflow: hidden;

        border-radius: 22px;
        box-shadow: 0 50px 100px 0 rgb(0 2 85 / 0.3);
    }
}
