<%= const siteNav = require("../data/module-nav") %>
<div id="site-head" class="site-head flex flex-y-c" data-size="normal">
    <div class="wrapper-limit_width flex flex-x-sb flex-y-c">
        <div class="state-pos_left">
            <!--  -->
        </div>
        <div class="state-pos_right">
            <!--  -->
        </div>
    </div>
</div>
