<!--
 * @Description: 统计功能介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 17:54:30
 * @LastEditTime: Wed Aug 04 2021 17:54:31
 * @LastEditors: F-Stone
-->
<div class="module module-statistic">
    <div class="wrapper-module_content">
        <div class="module-header">
            <div class="module-title">
                <span class="text">数据<br />多维度分析</span>
            </div>
            <div class="module-subtitle">
                <span class="text">
                    多维度分析每一个细节，企业/品牌/个人营销随时透析商机，并以图表的方式呈现，让每个管理人员一目了然
                </span>
            </div>
        </div>
        <div class="module-body">
            <div class="wrapper-limit_width flex flex-x-sb">
                <div class="state-pos_left">
                    <div class="list-info">
                        <div class="item-info">
                            <div class="item-head">
                                <div class="ic iconfont icon-data"></div>
                                <div class="title">
                                    <span class="text">实时访问数据</span>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="text">
                                    名片访问数据高频更新，随时了解推广效果，同时能根据时间段分别查看。
                                </span>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-head">
                                <div class="ic iconfont icon-link"></div>
                                <div class="title">
                                    <span class="text">客户来源分析</span>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >任何来源渠道都被一一记录，让企业发掘并利用营销优势，提高营销效率。
                                </span>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-head">
                                <div class="ic iconfont icon-member"></div>
                                <div class="title">
                                    <span class="text">员工贡献值</span>
                                </div>
                            </div>
                            <div class="desc">
                                <span class="text"
                                    >每个成员的努力都应被看见，鼓励成员多做推广，企业推广省钱省力。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-pos_right">
                    <div class="box-intro_img">
                        <div class="box-bg">
                            <div class="bg-circle"></div>
                            <div class="bg-circle"></div>
                            <div class="bg-circle"></div>
                        </div>
                        <div class="list-intro_img">
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/1.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/4.png"
                                    alt=""
                                />
                            </div>
                            <div class="item-intro_img">
                                <img
                                    src="<%= IMG_PATH %>uemo-data/5.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
