<!--
 * @Description: 名片功能介绍
 * @Author: F-Stone
 * @Date: Wed Aug 04 2021 16:45:57
 * @LastEditTime: Wed Aug 04 2021 16:45:58
 * @LastEditors: F-Stone
-->
<div class="module module-intro" data-scroll-section>
    <div class="wrapper-limit_width flex">
        <div class="state-pos_left flex flex-x-c">
            <div class="list-intro">
                <div class="item-intro">
                    <div class="num">
                        <span class="text">01</span>
                    </div>
                    <div class="title">
                        <span class="text">急速联系</span>
                    </div>
                    <div class="desc">
                        <span class="text"
                            >所有员工统一品牌名片风格，企业品牌统一化输出。增加客户对品牌的印象度。</span
                        >
                    </div>
                </div>
                <div class="item-intro">
                    <div class="num">
                        <span class="text">02</span>
                    </div>
                    <div class="title">
                        <span class="text">个人展示</span>
                    </div>
                    <div class="desc">
                        <span class="text"
                            >可直接绑定UEmo极速建站模板，可从官网直接返回名片，无需开发网站小程序。</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="state-pos_right flex flex-x-c flex-y-s">
            <div class="box-intro_img">
                <img src="<%= IMG_PATH %>module-intro-preview.png" alt="" />
            </div>
        </div>
    </div>
    <div class="module-bg"></div>
</div>
