@custom-media --small-viewport (max-width: 734px);

@media only screen and (--small-viewport) {
    .wrapper-limit_width {

        @include limit-wrapper-small;
    }
    .site-head {
        height: c(96px);

        background-color: rgb(255 255 255 / 0.72);

        backdrop-filter: saturate(180%) blur(20px);
        &[data-size='mini'] {
            transform: translateY(0%);
        }
        .wrapper-limit_width {
            justify-content: center;
        }
        .state-pos_right {
            display: none;
        }
        .site-logo {
            height: c(46px);
        }
    }

    /* ---------------------------------- */
    /*          module-propaganda         */
    /* ---------------------------------- */
    .module-propaganda {
        .effect-line-1 {
            br {
                display: initial;
            }
        }
    }
    .box-text_effect .effect-line-1 {
        font-size: c(120px);
        line-height: 1.1833em;
    }
    .wrapper-propaganda_text .project-serve {
        width: auto;
    }
    .wrapper-propaganda_text .item-serve {
        font-size: c(24px);

        padding: 0 c(20px);
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    .box-text_effect {
        height: c(340px);
    }
    .wrapper-propaganda_text {
        padding-bottom: c(163px);
    }
    .wrapper-propaganda_intro .inner-wrapper {
        flex: 0 0 auto;

        width: 592px;
    }
    .wrapper-propaganda_intro {
        display: flex;

        justify-content: center;
    }
    .wrapper-propaganda_intro .layer-hand-center .wrapper-card {
        border-radius: c(10px);
    }
    .wrapper-propaganda_text .divide {
        flex: 1 1 auto;

        width: auto;
    }
    .wrapper-propaganda_intro .layer-hand-ahead {
        transform: translate3d(20px, 40px, 0);
    }
    /* ---------------------------------- */
    /*            module-design           */
    /* ---------------------------------- */
    .module-design .module-body {
        display: block;
    }
    .module-design .bg-body > .state-pos_left,
    .module-design .module-body > .state-pos_left {
        right: 0;

        display: block;

        width: 100%;
        max-width: 88vw;
        margin-bottom: 44px;
        padding: 0;
    }
    .module-design .bg-body {
        display: block;
        overflow: visible;

        border-radius: c(30px);
    }
    .module-design .module-inner_box > .wrapper-limit_width,
    .module-design .wrapper-bg {

        @include limit-wrapper-small-min;
        right: 0;
    }
    .module-design .module-body .box-preview_layout,
    .module-design .bg-body .box-preview_layout {
        width: c(355px);
    }
    .module-design .bg-body .box-preview_layout .box-img {
        border-radius: c(40px);
    }
    .module-design .bg-body .list-card--left {
        padding-right: c(44px);
    }
    .module-design .bg-body .list-card--right {
        padding-left: c(44px);
    }
    .module-design .item-card {
        width: c(309px);
        margin-right: c(44px);
    }
    .module-design .bg-body .list-card--left,
    .module-design .bg-body .list-card--right {
        top: c(63px);
    }
    .module-design .bg-body .list-card--left .list-card-box {
        transform: translateX(c(1068px));
    }
    .module-design .bg-body > .state-pos_right,
    .module-design .module-body > .state-pos_right {
        width: 100%;
        padding: 0;
    }
    .module-design .item-intro .title {
        display: none;
    }
    .module-design .item-intro .subtitle {
        font-size: c(48px);
        line-height: c(110px);
    }
    .module-design .item-intro .desc {
        font-size: c(24px);
        line-height: c(40px);

        width: auto;
    }
    .module-design .module-body .box-preview_layout {
        box-shadow: 0 60px 120px 0 rgb(31 54 29 / 68%);
    }
    .module-design .module-body > .state-pos_left {
        position: relative;
    }
    .footer-index-nav {
        font-size: c(24px);

        position: absolute;
        right: 0;
        bottom: c(14px);

        display: flex;

        width: c(176px);

        color: rgb(255 255 255 / 0.2);

        align-items: center;
        .current {
            font-weight: 900;

            color: rgb(255 255 255);
        }
        .divide {
            display: block;
            flex: 1 1 auto;

            height: 1px;
            margin: 0 c(20px);

            background-color: rgb(255 255 255 / 0.22);
        }
    }
    
    /* ---------------------------------- */
    /*             module-show            */
    /* ---------------------------------- */
    .module-show {
        padding-top: c(232px);
        .module-header {

            @include limit-wrapper-small;
            margin-bottom: c(168px);

            text-align: left;
        }
        .module-title {
            font-size: c(80px);
            line-height: c(95px);

            margin-bottom: c(28px);
            br {
                display: block;
            }
        }
        .module-subtitle {
            font-size: c(24px);
            line-height: c(48px);

            margin: 0;
        }
        .wrapper-zero_area .wrapper-content {
            
            @include limit-wrapper-small;
            width: 100%;
        }
    }
    .module-show .box-desc {
        height: c(154px);
        padding: 0;
    }
    .module-show .wrapper-zero_area .layer--scale {
        border-radius: c(20px);
        box-shadow: 0 c(40px) c(80px) 0 rgb(14 20 160 / 0.2);
    }
    .module-show .box-desc .title {
        font-size: c(48px);

        padding-top: 0;
    }
    .module-show .box-desc .subtitle {
        font-size: c(24px);
    }
    .module-show .box-desc .ic {
        font-size: c(30px);

        width: c(55px);
        height: c(55px);

        border-color: rgb(255 255 255 / 0.3);
    }
    .box-desc > .state-pos_left {
        padding: 0 c(30px);
    }
    .box-desc > .state-pos_right {
        padding: 0 c(30px);
    }
    .module-show .wrapper-first_area .group-col {
        // width: 18vw;
        width: cw(182);
        &:first-child,
        &:last-child {
            display: none;
        }  
    } 
    .module-show .wrapper-first_area .group-col:nth-child(3) {
        width: cw(239);
        margin: 0 cw(37.5);
    }
    .module-show .module-body .item-intro {
        // margin-bottom: 1.7vw;
        margin-bottom: cw(17);
        &[data-show-size='small'] {
            display: block;
        }
        &[data-show-size='normal'] {
            display: none;
        }
    }
    .module-show .wrapper-first_area .group-col:nth-child(3) .intro-phone,
    .module-show .wrapper-first_area .group-col:nth-child(3) .main-phone {
        border-radius: c(28px);
    }
    // .module-show .module-body .intro-phone {
    //     box-shadow: 0 cw(50) cw(100) 0 rgb(0 2 85 / 0.3);
    // }    


}
