
@custom-media --normal-viewport (max-width: 1460px);

@custom-media --normal-min-viewport (max-width: 1300px);


@media only screen and (--normal-viewport) {
    /* ---------------------------------- */
    /*              顶部导航               */
    /* ---------------------------------- */
    .site-head {
        height: 116px;
    }
    .site-head .site-logo {
        height: 36px;
    }
    .btn-open_project_qr {
        font-size: 15px;
        line-height: 50px;
    }
    .btn-open_project_qr > .state-pos_left {
        padding: 0 20px 0 24px;
        .ic {
            margin-right: 18px;
        }
    }
    .btn-open_project_qr > .state-pos_right {
        padding: 0  24px 0 20px;
        .ic {
            margin-left: 18px;
        }
    }
    .btn-open_project_qr > .state-pos_left,
    .btn-open_project_qr > .state-pos_right {
        font-size: 15px;
    }
    /* ---------------------------------- */
    /*          module-propaganda         */
    /* ---------------------------------- */
    .box-text_effect {
        height: 14vw;
    }
    .box-text_effect .effect-line-1 {
        font-size: 6.3vw;
    }
    .wrapper-propaganda_text {
        padding-bottom: 4.5vw;
    }
    .wrapper-propaganda_intro .inner-wrapper {
        width: 90%;
    }
    .wrapper-propaganda_intro .layer-hand-center .wrapper-card {
        border-radius: 13px;
    }
    /* ---------------------------------- */
    /*            module-design           */
    /* ---------------------------------- */
    .module-design .module-body .box-preview_layout,
    .module-design .bg-body .box-preview_layout {
        width: 272px;
    }
    .module-design .bg-body .list-card--left,
    .module-design .bg-body .list-card--right {
        top: 69px;
    }
    .module-design .item-card {
        width: 216px;
        margin-right: 36px;
    }
    .module-design .bg-body .list-card--left .list-card-box {
        transform: translateX(760px);
    }
    .module-design .bg-body > .state-pos_right,
    .module-design .module-body > .state-pos_right {
        padding-top: 110px;
        padding-left: 56px;
    }
    .module-design .item-intro .title {
        font-size: 130px;
    }
    .module-design .item-intro .subtitle {
        font-size: 48px;
        line-height: 78px;
    }
    .module-design .item-intro .desc {
        font-size: 16px;
        line-height: 26px;
    }
    .module-design .module-inner_wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* ---------------------------------- */
    /*             module-show            */
    /* ---------------------------------- */
    .module-show {
        .module-header {
            margin-bottom: 7vw;
        }
        .module-title {
            font-size: 4.9vw;
            line-height: 1.22em;
        }
        .box-desc .title {
            font-size: 2.1vw;
            line-height: 1.25em;
            
            padding-top: 2px;
        }
        .box-desc .subtitle {
            font-size: 15px;
            line-height: 1.73em;
        }
        .box-desc .ic {
            font-size: 23px;

            width: 3.2vw;
            height: 3.2vw;
        }
        .box-desc {
            height: 6.849vw;
        }
        .wrapper-zero_area .wrapper-content {
            width: 470px;
        }
        .box-desc > .state-pos_left {
            padding: 0 40px 0 34px;
        }
        .box-desc > .state-pos_right {
            padding: 0 34px 0 40px;
        }
    }

}   

@media only screen and (--normal-min-viewport) {
    
    /* ---------------------------------- */
    /*          module-propaganda         */
    /* ---------------------------------- */
    .box-text_effect {
        height: 172px;
    }
    .box-text_effect .effect-line-1 {
        font-size: 83px;
    }
    .wrapper-propaganda_intro .inner-wrapper {
        width: 100%;
    }
    .wrapper-propaganda_text {
        padding-bottom: 60px;
    }
    .box-text_effect .effect-line-2 {
        font-size: 14px;
    }
    .wrapper-propaganda_text .project-serve {
        width: 82.5%;
    }
    .wrapper-propaganda_intro .layer-hand-center .wrapper-card {
        border-radius: 12px;
    }
    
    /* ---------------------------------- */
    /*             module-show            */
    /* ---------------------------------- */
    .module-show {
        .module-header {
            margin-bottom: 74px;
        }
        .module-title {
            font-size: 52px;

            margin-bottom: 8px;
        }
        .module-subtitle {
            font-size: 14px;
            line-height: 32px;
        }
        .box-desc .title {
            font-size: 22px;

            padding-top: 3px;
        }
        .box-desc .subtitle {
            font-size: 13px;
        }
        .box-desc .ic {
            font-size: 21px;

            width: 38px;
            height: 38px;
        }
        .box-desc {
            height: 73px;
            padding: 0 20px;
        }
        .wrapper-zero_area .wrapper-content {
            width: 420px;
        }
        .box-desc > .state-pos_left {
            padding: 0 30px 0 38px;
        }
        .box-desc > .state-pos_right {
            padding: 0 38px 0 30px;
        }
    }

}
