@custom-media --middle-viewport (max-width: 1068px);

@media only screen and (--middle-viewport) {
    .wrapper-limit_width {
        max-width: 88vw;
    }
    /* ---------------------------------- */
    /*              顶部导航               */
    /* ---------------------------------- */
    .site-head {
        height: 106px;
        .site-logo {
            height: 34px;
        }
    }
    .btn-open_project_qr {
        line-height: 47px;
    }
    .btn-open_project_qr > .state-pos_left {
        padding: 0  18px 0 22px;
        .ic {
            margin-right: 16px;
        }
    }
    .btn-open_project_qr > .state-pos_right {
        padding: 0 22px 0 18px;
        .ic {
            margin-left: 16px;
        }
    }
    .btn-open_project_qr > .state-pos_left,
    .btn-open_project_qr > .state-pos_right {
        font-size: 14px;
    }
    
    /* ---------------------------------- */
    /*          module-propaganda         */
    /* ---------------------------------- */
    .box-text_effect {
        height: 16vw;
    }
    .box-text_effect .effect-line-1 {
        font-size: 7.5vw;
    }
    .wrapper-propaganda_text {
        padding-bottom: 5.6vw;
    }
    .module-propaganda {
        padding-top: 266px;
    }
    .wrapper-propaganda_intro .layer-hand-center .wrapper-card {
        border-radius: 8px;
    }
    /* ---------------------------------- */
    /*            module-design           */
    /* ---------------------------------- */
    .module-design .bg-body .list-card--left,
    .module-design .bg-body .list-card--right {
        top: 61px;
    }
    .module-design .item-card {
        width: 191px;
        margin-right: 28px;
    }
    .module-design .module-body .box-preview_layout,
    .module-design .bg-body .box-preview_layout {
        width: 242px;
    }
    .module-design .bg-body .list-card--left .list-card-box {
        transform: translateX(665px);
    }
    .module-design .bg-body .list-card--left {
        padding-right: 28px;
    }
    .module-design .bg-body .list-card--right {
        padding-left: 28px;
    }
    .module-design .bg-body > .state-pos_right,
    .module-design .module-body > .state-pos_right {
        padding-top: 92px;
        padding-left: 60px;
    }
    .module-design .item-intro .title {
        font-size: 113px;
    }
    .module-design .item-intro .subtitle {
        font-size: 42px;
        line-height: 64px;
    }
    .module-design .item-intro .desc {
        font-size: 13px;
        line-height: 22px;
    }
    .module-design .bg-body > .state-pos_left,
    .module-design .module-body > .state-pos_left {
        padding-right: 75px;
    }
    .module-design .module-body .box-preview_layout {
        border: 5px solid rgb(255 255 255);
    }
    .module-design .bg-body .box-preview_layout .box-img {
        border: 5px solid rgb(255 255 255);
        border-radius: 20px;
    }

}
