@custom-media --middle-viewport (max-width: 1068px);

@media only screen and (--middle-viewport) {
    .wrapper-limit_width {
        max-width: 88vw;
    }
    .footer_layer--fixed .icon-weixin_code {
        width: 50px;
        height: 50px;
    }
    .footer_layer--fixed .btn-open_QR {
        font-size: 15px;

        width: 50px;
    }
    .footer_layer--fixed .text {
        padding: 0 30px 0 23px;
    }
    /* ---------------------------------- */
    /*              顶部导航               */
    /* ---------------------------------- */
    .site-head {
        height: 106px;
        .site-logo {
            height: 34px;
        }
    }
    .btn-open_project_qr {
        line-height: 47px;
    }
    .btn-open_project_qr > .state-pos_left {
        padding: 0  18px 0 22px;
        .ic {
            margin-right: 16px;
        }
    }
    .btn-open_project_qr > .state-pos_right {
        padding: 0 22px 0 18px;
        .ic {
            margin-left: 16px;
        }
    }
    .btn-open_project_qr > .state-pos_left,
    .btn-open_project_qr > .state-pos_right {
        font-size: 14px;
    }
    
    /* ---------------------------------- */
    /*          module-propaganda         */
    /* ---------------------------------- */
    .box-text_effect {
        height: 16vw;
    }
    .box-text_effect .effect-line-1 {
        font-size: 7.5vw;
    }
    .wrapper-propaganda_text {
        padding-bottom: 5.6vw;
    }
    .module-propaganda {
        padding-top: 266px;
    }
    .wrapper-propaganda_intro .layer-hand-center .wrapper-card {
        border-radius: 8px;
    }
    /* ---------------------------------- */
    /*            module-design           */
    /* ---------------------------------- */
    .module-design .bg-body .list-card--left,
    .module-design .bg-body .list-card--right {
        top: 61px;
    }
    .module-design .item-card {
        width: 191px;
        margin-right: 28px;
    }
    .module-design .module-body .box-preview_layout,
    .module-design .bg-body .box-preview_layout {
        width: 242px;
    }
    .module-design .bg-body .list-card--left .list-card-box {
        transform: translateX(665px);
    }
    .module-design .bg-body .list-card--left {
        padding-right: 28px;
    }
    .module-design .bg-body .list-card--right {
        padding-left: 28px;
    }
    .module-design .bg-body > .state-pos_right,
    .module-design .module-body > .state-pos_right {
        padding-top: 92px;
        padding-left: 60px;
    }
    .module-design .item-intro .title {
        font-size: 113px;
    }
    .module-design .item-intro .subtitle {
        font-size: 42px;
        line-height: 64px;
    }
    .module-design .item-intro .desc {
        font-size: 13px;
        line-height: 22px;
    }
    .module-design .bg-body > .state-pos_left,
    .module-design .module-body > .state-pos_left {
        padding-right: 75px;
    }
    .module-design .module-body .box-preview_layout {
        border: 5px solid rgb(255 255 255);
    }
    .module-design .bg-body .box-preview_layout .box-img {
        border: 5px solid rgb(255 255 255);
        border-radius: 20px;
    }
    
    /* ---------------------------------- */
    /*             module-show            */
    /* ---------------------------------- */
    .module-show .wrapper-zero_area .layer--scale {
        border-radius: 60px;
    }
    .module-show .wrapper-first_area .group-col {
        // width: 18vw;
        width: 200px;
        &:first-child,
        &:last-child {
            display: none;
        }  
    } 
    .module-show .wrapper-first_area .group-col:nth-child(3) {
        width: 256px;
        margin: 0 5vw;

        align-items: flex-start;
    }
    .module-show .module-body .item-intro {
        // margin-bottom: 1.7vw;
        margin-bottom: 18px;
        &[data-show-size='small'] {
            display: block;
        }
        &[data-show-size='normal'] {
            display: none;
        }
    }
    .module-show .uemo-web {
        left: auto;

        width: 94.824vw;
    }
    .module-show .uemo-web,
    .module-show .uemo-web .wrapper-uemo_web,
    .module-show .uemo-web .slider-item {
        border-radius: 14px;
    }
    .module-show .wrapper-intro .title .text {
        font-size: 4.3396vw;
    }
    .module-show .wrapper-intro .button-link {
        padding: 0 40px;
    } 
    .module-show .wrapper-sec-area {
        transform: translateY(-7vw);
    }
    .module-show .wrapper-sec-area .module-bg {
        display: flex;

        align-items: center;
    }
    .module-show .wrapper-sec-area .state-pos_left {

        @include limit-wrapper-small-min();
        position: relative;

        height: 23.14453125vw / 233.28 * 490.95;
        margin: auto;
        padding: 0;
        
        justify-content: flex-start;
    }
    .module-show .wrapper-sec-area .state-pos_right {
        z-index: 100;

        width: 59.57%;
        height: 23.14453125vw / 233.28 * 490.95;
        margin: auto;

        background-color: transparent;

        align-items: flex-end;
    }
    .module-show .wrapper-first_area {
        z-index: 110;
    }
    .module-show .wrapper-intro {
        position: absolute;
        top: calc(100% + 60px);

        width: 100%;
    }

    /* ---------------------------------- */
    /*             module-doc             */
    /* ---------------------------------- */
    // .module-doc .intro-img--fake,
    // .module-doc .intro-img {
    //     width: 40vw;
    // }
    // .module-doc .left_area-bg {
    //     top: 15%;
    // }
    // .module-doc .wrapper-main_phone {
    //     left: 19.8%;

    //     width: 60.210453%;
    // }
    // .module-doc .module-body > .state-pos_right {
    //     padding: 0 2vw 0 7vw;
    // }
    // .module-doc .item-intro .desc {
    //     font-size: 15px;
    //     line-height: 30px;

    //     width: auto;
    //     margin-bottom: 30px;
    // }
    // .module-doc .item-intro .title {
    //     font-size: 46px;

    //     margin-bottom: 19px;
    // }
    // .module-doc .module-doc_show {
    //     padding-top: 15vh;
    // }
    // .module-doc .intro-img--fake .main-phone-lock {
    //     top: 25%;

    //     width: 28%;
    // }
    // .module-doc .item-intro .box-img img {
    //     height: 70px;
    // }
    .module-doc .item-intro .box-img {
        display: none;
    }
    .module-doc .module-body {
        display: block; 
    }
    .module-doc .module-body > .state-pos_left,
    .module-doc .module-body > .state-pos_right {
        width: 100%;

        transform: translate3d(0, 0, 0);
    }
    .module-doc .left_area-bg {
        top: auto;
        bottom: 0;

        width: 100vw;
        height: 57.6vw;

        border-radius: 0;
    }
    .module-doc .intro-img--fake,
    .module-doc .intro-img {
        width: 60vw;
    } 
    .module-doc .intro-img::after,
    .module-doc .intro-img--fake::after {
        padding-top: 156%;
    }
    .module-doc .wrapper-main_phone {
        top: 1.1%;
    }
    .module-doc .wrapper-limit_width {
        overflow: hidden;

        width: 100vw;
        max-width: 100vw;
    }
    .module-doc .module-body > .state-pos_right {
        position: relative;
        z-index: 1111;

        background-color: rgb(255 255 255);
    }
    .module-doc .item-intro .desc {
        line-height: 26px;

        width: 100%;
    }
    .module-doc  .list-intro {

        @include limit-wrapper-small-min; 
    }
    .module-doc .module-doc_show {
        padding-top: 10vw;
    }
    .module-doc .intro-img--fake .main-phone-lock {
        top: 36%;
        left: 50%;

        width: 25%;
    }
    .module-doc .item-intro {
        padding-top: cw(40);
        padding-top: 3vw;
    }
    .module-doc .item-intro .title {
        font-size: cw(40);
        line-height: cw(62);

        margin-bottom: cw(19);
    }
    .module-doc .item-intro .subtitle {
        font-size: cw(24);
        line-height: cw(46);
    }
    
}
