@custom-media --big-viewport (max-width: 1960px);

/* ---------------------------------- */
/*               public               */
/* ---------------------------------- */
.site-page {
    overflow: hidden !important;
}


/* ---------------------------------- */
/*          module-propaganda         */
/* ---------------------------------- */
.wrapper-propaganda_text {
    padding-bottom: 80px;
}
.module-propaganda {
    padding-top: 246px;
    .effect-line-1 {
        br {
            display: none;
        }
    }
    .module-body {
        transform: translateY(30px);
    }
}
.wrapper-propaganda_intro .layer-hand-ahead {
    transform: translate3d(5vh, 10vh, 0);
}
/* ---------------------------------- */
/*            module-design           */
/* ---------------------------------- */
.module-design .module-inner_wrapper {
    min-height: calc(100vh + 1px);
}
.footer-index-nav {
    display: none;
}

/* ---------------------------------- */
/*            module-show           */
/* ---------------------------------- */
.module-show .module-title br {
    display: none;
}


@media only screen and (--big-viewport) {
    .module-show .wrapper-first_area .group-col:nth-child(1),
    .module-show .wrapper-first_area .group-col:nth-child(4) {
        margin-right: 2.4479vw;
    }
    .module-show .wrapper-first_area .group-col:nth-child(3) {
        width: 16.7708vw;
        margin: 3.6458vw;
    }
    .module-show .wrapper-first_area .group-col {
        width: 15.72916vw;
    }
    .module-show .module-body .item-intro {
        margin-bottom: 2.1875vw;
    }
    .module-show .uemo-web {
        left: 13.6979vw;

        width: web-w(16.7708vw);

        border-radius: 20px;
    }
    .module-show .uemo-web .slider-item {
        border-radius: 20px;
    }
    .module-show .wrapper-intro .title .text {
        font-size: 3.125vw;
        line-height: 1.533em;
    }
    .module-show .wrapper-intro .desc {
        margin-bottom: 2.9166vw;
    }
    .module-show .wrapper-intro .button-link {
        padding: 0 2.3958vw;
    }
    // .module-show .wrapper-intro {
    //     width: 19.27083vw;
    // }

}
.module-show .module-body .item-intro {
    &[data-show-size='small'] {
        display: none;
    }
    &[data-show-size='normal'] {
        display: block;
    }
}
.module-show .wrapper-first_area .group-row {
    justify-content: center;
}
/* ---------------------------------- */
/*                other               */
/* ---------------------------------- */
.c-scrollbar {
    z-index: 1111;
}
