@custom-media --big-viewport (max-width: 1920px);

/* ---------------------------------- */
/*               public               */
/* ---------------------------------- */
.site-page {
    overflow: hidden !important;
}


/* ---------------------------------- */
/*          module-propaganda         */
/* ---------------------------------- */
.wrapper-propaganda_text {
    padding-bottom: 80px;
}
.module-propaganda {
    padding-top: 246px;
    .effect-line-1 {
        br {
            display: none;
        }
    }
    .module-body {
        transform: translateY(30px);
    }
}
.wrapper-propaganda_intro .layer-hand-ahead {
    transform: translate3d(5vh, 10vh, 0);
}
/* ---------------------------------- */
/*            module-design           */
/* ---------------------------------- */
.module-design .module-inner_wrapper {
    min-height: calc(100vh + 1px);
}
.footer-index-nav {
    display: none;
}

/* ---------------------------------- */
/*            module-show           */
/* ---------------------------------- */
.module-show .module-title br {
    display: none;
}
.module-show .wrapper-first_area .group-col:nth-child(1),
.module-show .wrapper-first_area .group-col:nth-child(4) {
    margin-right: 2.4479vw;
}
.module-show .wrapper-first_area .group-col:nth-child(3) {
    width: 16.7708vw;
    margin: 3.6458vw;
}
.module-show .wrapper-first_area .group-col {
    width: 15.72916vw;
}
.module-show .module-body .item-intro {
    margin-bottom: 2.1875vw;
    &[data-show-size='small'] {
        display: none;
    }
    &[data-show-size='normal'] {
        display: block;
    }
}
.module-show .wrapper-first_area .group-row {
    justify-content: center;
}
/* ---------------------------------- */
/*                other               */
/* ---------------------------------- */
.c-scrollbar {
    z-index: 1111;
}
